//Fuente
$fuente_principal: "Lato", sans-serif;

//Colores
$amarillo: #FFD52F;
$amarillo-oscuro: #FFC107;
$amarillo-normal: #fcb900;
$naranja: #FF9800;
$negro: #000;
$blanco: #fff;
$naranja-oscuro: #e77330;
$gris-oscuro: #1E414E;
$gris: #7E8D94;

// Breakpoints
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;